.mainHeader {
    background: #C53705;
    border-radius: 10px;
    padding: 8px 16px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}