.mainDiv {
  height: calc(100vh - 16px);
}
.form-check-input:checked {
  background-color: "#C53705"; 
}

.wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapper .Mui-selected{
  background: #c53705 !important;
}

.empty_message{
  color:rgb(185, 67, 67);
  font-size: 24px;
}

.error-red-border {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}